/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ced8e2;
    display: grid;
}

header{
    color: rgb(219, 87, 109);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title2 {
    color: rgb(230, 86, 86);
    text-align:left;
    padding: 20px;
}

.title3 {
    height: auto;
    padding: 20px;
    justify-content: left;
}